table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  .box1{
    background: whitesmoke;
    border: 1px solid #ddd;
    color: black;
    padding: 10px 20px;
    text-align: center;
    overflow: auto;
    width: 90%;
    
  }
  .bbr{
    border-bottom: 2px solid red;
   
  }
  .bbg{
    border-bottom: 2px solid green;
   
  }
  .container{
    max-width: 1140px;
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .tle{
    color: #007eff;
    font-size: 20px;
  }