/* table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  .box1{
    background: whitesmoke;
    border: 1px solid #ddd;
    color: black;
    padding: 10px 20px;
    text-align: center;
    overflow: auto;
    width: 90%;
    
  }
  .bbr{
    border-bottom: 2px solid red;
   
  }
  .bbg{
    border-bottom: 2px solid green;
   
  }
 
  .tle{
    color: #007eff;
    font-size: 20px;
  }
  
  */


  /* .example-container {
    height: 300px;
    width:1024px;
  } */
  
  .mat-table {
    color: #1a084c;
    /* width:'100%'; */
    width:1024px;
    height: 330px;
    overflow: auto;
    overflow-x: scroll;
  }
  
  
  .mat-header-row,
  .mat-header-cell-def {
    min-height: 25px;
    font-size: 13px;
    color: #1a084c;
    margin: 5px 0px;
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: inherit;
  }
  .mat-header-cell{
    position: sticky;
  }
  .mat-header-row{
    margin: 0px;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  .mat-row,
  .mat-header-row {
    display: table-row;
  }