<br>
<div class="container">
    <div class="sidenav" style="background: #ba9e4d!important;color:white;padding: 10px 0px">
        <button mat-button (click)="reload()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">refresh</mat-icon>
        </button>
        <button mat-button routerLink="/products/">Products</button>
        <button mat-button routerLink="/students/">Students</button>
        <button mat-button routerLink="/teachers/">Teachers</button>

    </div>
</div>

<router-outlet></router-outlet>